/* ======================font link start=================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --------------------font link end---------------------- */
/* =======================common css start===================== */
* {
    padding: 0%;
    margin: 0%;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
div,
img,
span,
a {
    padding: 0%;
    margin: 0%;
    outline: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------common css end----------------------- */
/* ======================css veriable part start==================== */
:root {
    --IBM_Plex-serif: 'IBM Plex Serif', serif;
    --Croissant_one: 'Croissant One', serif;
    --poopins: 'Poppins', sans-serif;
    --Background_color: #212428;
    --liniar_gradiant: linear-gradient(to right bottom, #212428, #16181c);
    --Brand_color: #FFB400;
    --paragraph: #C4CFDE;
    --White: #FFFFFF;
    --box_shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;

}

/* ----------------------css veriable part end-------------------- */
/* =======================back to top button start=================== */
.back_to_top {
    width: 50px;
    height: 50px;
    border: 1px solid var(--Brand_color);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Brand_color);
    position: fixed;
    bottom: 10%;
    right: 3%;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
}

.go_top {
    visibility: visible;
    opacity: 1;
    animation: arrow_button 1s;
    z-index: 999;
}

.back_to_top:hover {
    background: var(--Brand_color);
    color: #fff;
}

@keyframes arrow_button {
    from {
        bottom: -10%;
    }

    to {
        bottom: 10%;
    }
}

/* -----------------------back to top button end--------------------- */
/* =====================pre loader start===================== */
.container-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.container-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

.container-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 10px solid #ffffff;
    border-top-color: var(--Brand_color);
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}

.container-preloader .animation-preloader .txt-loading {
    font: bold 5em 'Montserrat', sans-serif;
    text-align: center;
    user-select: none;
}

.container-preloader .animation-preloader .txt-loading .characters:before {
    animation: characters 4s infinite;
    color: var(--Brand_color);
    content: attr(preloader-text);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}

.container-preloader .animation-preloader .txt-loading .characters {
    color: #fff;
    position: relative;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
    animation-delay: 0.2s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
    animation-delay: 0.4s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
    animation-delay: 0.6s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
    animation-delay: 0.8s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
    animation-delay: 1s;
}

.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
    animation-delay: 1.2s;
}

.container-preloader .loader-section {
    background-color: var(--Background_color);
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.container-preloader .loader-section.section-left {
    left: 0;
}

.container-preloader .loader-section.section-right {
    right: 0;
}

.loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes characters {

    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {

    .container-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    .container-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media screen and (max-width: 500px) {
    .container-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .container-preloader .animation-preloader .txt-loading {
        font: bold 2em 'Montserrat', sans-serif;
    }
}

/* -------------------pre loader end--------------------- */
/* ==========================fixed-button-start==================== */
.fixed_button {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fixed_button a {
    position: fixed;
    z-index: 999;
    top: 150px;
    right: 0%;
    width: 55px;
    height: 55px;
    border-radius: 6px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    transition: all linear .3s;
    background: var(--liniar_gradiant);
}

.menu_fixed .fixed_button a {
    box-shadow: var(--box_shadow);
}

.fixed_button .fb_fixed {
    padding-left: 18px !important;
}

.fixed_button .insta_fixed {
    top: 213px !important;
}

.fixed_button .lnkdn_fixed {
    top: 276px !important;
}

.fixed_button .tw_fixed {
    top: 340px !important;
}

.fixed_button a span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: var(--poopins);
    color: #fff;
    margin-left: 27px;
    visibility: hidden;
    opacity: 0;
    transition: all linear .2s;
}

.fixed_button a:hover {
    width: 170px;
}

.fixed_button a:hover span {
    visibility: visible;
    opacity: 1;
}

.fixed_button a:hover {
    background: linear-gradient(to right bottom, #212428, #16181c);
}

.fixed_button a:hover .facebook {
    color: #1877F2;
}

.fixed_button a:hover .instagram {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fixed_button a:hover .linkdin {
    color: #0077b5;
}

.fixed_button a:hover .twiter {
    color: #1DA1F2;
}

.fixed_button a i {
    font-size: 26px;
    color: var(--Brand_color);
    transition: all linear .3s;
    position: relative;
}

/* --------------------------fixed-button-end----------------------- */
/* ========================menu part start==================== */
.menu_fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    background: var(--Background_color) !important;
    z-index: 999;
    animation: slide 1s;
}

@keyframes slide {
    from {
        top: -20%;
    }

    to {
        top: 0;
    }
}

.menu_bar {
    width: 100%;
    position: absolute;
}

.navbar-brand {
    z-index: 99;
}

.navbar-brand img {
    max-width: 80px;
}

.menu_bar .menu_list {
    gap: 35px;
}

.menu-link {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff !important;
    position: relative;
    padding: 0% !important;
    z-index: 999;
    transition: all linear .3s;
}

.menu-link:hover {
    color: var(--Brand_color) !important;
}

.menu-link span {
    font-size: 16px;
    color: #fff;
}

.menu-link:hover span {
    color: var(--Brand_color);
}

.menu-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--Brand_color);
    top: 0%;
    left: 0%;
    transition: all linear .3s;
    z-index: 999;
}

.menu-link:hover::before {
    width: 100%;
}

.menu-link::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: var(--Brand_color);
    bottom: -10%;
    right: 0%;
    z-index: 999;
    transition: all linear .3s;
}

.menu-link:hover::after {
    width: 100%;
}

.dropdown-toggle::after {
    border: none;
}

.dropdown-item {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: #000000 !important;
    --bs-dropdown-link-active-bg: #ffffff;
    --bs-dropdown-bg: #212428;
    --bs-dropdown-link-hover-color: #ffffff;
    --bs-dropdown-link-hover-bg: #FFB400;
}

.dropdown-menu[data-bs-popper] {
    left: -18px;
}

.menu_button a {
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--Brand_color) !important;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--Brand_color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 99;
    transition: all linear .3s;
}

.menu_button a span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--Brand_color);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.menu_button a:hover span {
    transform: translateY(0) scale(2);
}

.menu_button a span:nth-child(1) {
    --n: 1;
}

.menu_button a span:nth-child(2) {
    --n: 2;
}

.menu_button a span:nth-child(3) {
    --n: 3;
}

.menu_button a span:nth-child(4) {
    --n: 4;
}

.menu_button a:hover {
    color: #fff;
}

/* ------------------------menu part end--------------------- */
/* ========================banner part start==================== */
.banner_col {
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    padding-bottom: 70px;
    position: relative;
    background: url(../image/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 250px;
    align-items: center;
    z-index: 2;
}

.banner_col::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    top: 0%;
    left: 0%;
    z-index: -1;
}

.banner_secound_col::after {
    background: rgba(0, 0, 0, 0.80);
}

.banner_secound_col {
    background: url(../image/secound-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_third_col {
    background: url(../image/third\ banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_heading h2 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}

.banner_heading h1 {
    max-width: 700px;
    font-size: 52px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-top: 25px;
    margin-bottom: 20px;
}

.banner_heading h1 span {
    color: var(--Brand_color);
}

.banner_heading {
    position: relative;
}

.word {
    max-width: 600px;
    position: absolute;
    top: 103px;
    left: 10%;
    margin: auto;
    color: var(--Brand_color);
    font-size: 52px;
    font-weight: 700;
    font-family: var(--Croissant_one);
}

.banner_heading p {
    max-width: 630px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 25px;
    margin-bottom: 70px;
}

.banner_heading h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner_button a {
    max-width: 180px;
    height: 50px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid var(--Brand_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--Brand_color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all linear .3s;
}

.banner_button a:hover {
    color: #fff;
}

.banner_button a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: var(--Brand_color);
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    z-index: -1;
}

.banner_button a:hover::after {
    visibility: visible;
    opacity: 1;
    width: 50%;
}

.banner_button a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0%;
    right: 0%;
    background: var(--Brand_color);
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    z-index: -1;
}

.banner_button a:hover::before {
    visibility: visible;
    opacity: 1;
    width: 50%;
}

.banner_img {
    display: flex;
    justify-content: end;
}

.banner_img picture img {
    max-width: 370px !important;
    max-height: 450px !important;
}
.banner_secound_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_secound_heading h1 {
    font-size: 64px;
    font-weight: 900;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    line-height: 88px;
}

.banner_secound_heading h1 span {
    color: var(--Brand_color);
}

.banner_secound_heading h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--Croissant_one);
    color: #fff;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.banner_secound_heading h2 span {
    color: var(--Brand_color);
    font-weight: 700;
}

.secound_banner_button a {
    width: 180px;
    height: 50px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid var(--Brand_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: all linear .3s;
}

.secound_banner_button a span {
    color: var(--Brand_color);
    margin-right: 6px;
}

.secound_banner_button a:hover {
    border: none;
    color: var(--Brand_color);
}

.secound_banner_button a:hover span {
    color: #fff;
}

.secound_banner_button a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 229%;
    top: 0%;
    left: -88%;
    background: var(--Brand_color);
    z-index: -1;
    transform: rotate(45deg);
    transition: all linear .3s;
}

.secound_banner_button a:hover::after {
    left: -24%;
    visibility: visible;
    opacity: 1;
}

.secound_banner_button a::before {
    content: '';
    position: absolute;
    width: 153%;
    height: 229%;
    top: 0%;
    right: -148%;
    background: #ffffff;
    z-index: -1;
    transform: rotate(45deg);
    transition: all linear .3s;
}

.secound_banner_button a:hover::before {
    opacity: 1;
    visibility: visible;
    right: -88%;
}

.third_heading {
    text-align: center;
    margin: 0% auto;
}

.third_heading h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}

.third_heading h2 span {
    color: var(--Brand_color);
}

.heading_text svg {
    height: 150px !important;
}

#contain {
    filter: url(#threshold) blur(0.2px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    font-family: var(--poopins);
    font-size: 46px;
    font-weight: 900;
    user-select: none;
    color: var(--Brand_color);
    margin-top: 50px;
}

.slick-dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--Brand_color);
}

.slick-dots .slick-active button {
    background: var(--Brand_color);
}

.banner_third_button a {
    width: 180px;
    height: 48px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid var(--Brand_color);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--Brand_color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% auto;
    transition: all linear .3s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.banner_third_button a:hover {
    color: #fff;
}

.banner_third_button a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    top: 0%;
    left: 0%;
    background: var(--Brand_color);
    transition: all linear .3s;
    z-index: -1;
}

.banner_third_button a:hover::after {
    height: 50%;
}

.banner_third_button a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    bottom: 0%;
    left: 0%;
    background: var(--Brand_color);
    transition: all linear .3s;
    z-index: -1;
}

.banner_third_button a:hover::before {
    height: 50%;
}

/* ------------------------banner part end--------------------- */
/* ========================about part start==================== */
#aboutPart {
    padding: 50px 0;
    background: var(--Background_color);
}

.about_title_heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 70px;
    font-family: var(--Croissant_one);
    color: var(--White);
    text-align: center;
}

.about_title_heading span {
    color: var(--Brand_color);
}

.aboutLeft_title {
    font-size: 26px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: var(--White);
}
.about_img{
    max-width: 336px !important;
    max-height: 400px !important;
    background: #fff;
    margin: 0% auto;
}
.about_img picture img{
    max-width: 337px !important;
    max-height: 400px !important;
    transition: all linear .3s;
}
.aboutPartRight picture img:hover{
    margin-left: 20px;
    margin-top:20px ;
}
.informationLeft_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.informationLeft_item {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}

.informationLeft_item_span_link {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: var(--White);
    transition: all linear .3s;
}

.informationLeft_item_span_link:hover {
    color: var(--Brand_color);
}

.informationLeft_item_span {
    font-weight: 600;
    color: var(--White);
    margin-left: 10px;
    position: relative;
    transition: all linear .3s;
    cursor: pointer;
}

.informationLeft_item_span:hover {
    color: var(--Brand_color);
}

.informationLeft_item_span::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background: var(--Brand_color);
    bottom: -10%;
    right: 0%;
    visibility: hidden;
    transition: all linear .3s;
}

.informationLeft_item_span:hover::after {
    width: 100%;
    visibility: visible;
}

.informationLeft_item_heighlight {
    color: var(--Brand_color);
}

.download_button .btn_slide {
    width: 230px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid var(--Brand_color);
    background: transparent;
    position: relative;
    transition: all linear .3s;
    margin-top: 60px;
}

.download_button .btn_slide:hover {
    background: var(--Brand_color);
}

.btn_slide .circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 47px !important;
    height: 47px;
    background: var(--Brand_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    transition: all linear .4s;
}

.download_button .btn_slide:hover .circle {
    left: 174px;
    background: #fff;
    color: var(--Brand_color);
}

.btn_slide .title {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    line-height: 53px;
    margin-left: 75px;
    transition: all linear .3s;
}

.download_button .btn_slide:hover .title {
    margin-left: 80px;
    opacity: 0;
}

.btn_slide .title_hover {
    position: absolute;
    top: 0%;
    left: 43%;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    line-height: 52px;
    opacity: 0;
    transition: all linear .3s;
}

.download_button .btn_slide:hover .title_hover {
    left: 19%;
    opacity: 1;
}

/* ------------------------about part end--------------------- */
/* ========================resume part start==================== */
#resumePart {
    padding: 80px 0;
    background: var(--Background_color);
}

.resume_title_heading {
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 80px;
    text-align: center;
}

.resume_heading h2 span {
    color: var(--Brand_color);
}

.nav-tabs {
    --bs-nav-tabs-border-width: none;
    border-bottom: none;
    background: linear-gradient(#1E2024, #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    border-radius: 10px;
    height: 70px;
    margin-bottom: 100px;
}

.nav-tabs .nav-link {
    width: 25%;
    border-radius: 10px;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: linear-gradient(#1E2024, #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    color: var(--Brand_color);
}

#resume .nav-tabs .nav-link:hover {
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    
}
.nav-link:focus, .nav-link:hover {
    color: var(--Brand_color) !important;
}
.fade:not(.show) {
    display: none;
}

.resume_heading h3 {
    font-size: 26px;
    font-weight: 500;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 50px;
}

.resume_box_row {
    position: relative;
    row-gap: 30px;
}

.resume_box_row::after {
    position: absolute;
    content: '';
    top: 0%;
    left: -17.23px;
    width: 5px;
    height: 100%;
    background: #17191C;
    z-index: 0;
}

.resume_box_col {
    width: 100%;
    padding: 40px 25px 30px 30px;
    background: linear-gradient(#1E2024, #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    transition: all linear 4s;
    position: relative;
}

.resume_box_col:hover {
    background: linear-gradient(to right bottom, #212428, #16181c);
}

.resume_box_col::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 5px;
    top: 52px;
    left: -18px;
    background: #17191C;
}

.resume_box_col::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 44px;
    left: -36.5px;
    background: var(--Background_color);
    border: 5px solid #17191C;
    transition: all linear .3s;
    z-index: 99;
}

.resume_box_col:hover::before {
    background: var(--Brand_color);
}

.box_heading_col_head {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}

.box_heading_col_clg {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 15px;
}

.box_heading_col .gpa {
    max-width: 70px;
    padding: 10px 10px;
    border-radius: 3px;
    background: linear-gradient(#1E2024, #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -0px -0px 10px #262A2E;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--Brand_color);
    cursor: pointer;
}

.box_heading_col_summery {
    max-width: 445px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 40px;
}

.professional_col_title {
    font-size: 26px;
    font-weight: 400;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 50px;
}

.professional_col_title span {
    color: var(--Brand_color);
}

.professional_skill_summery {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 25px;
    margin-bottom: 10px;
}

.design_skill {
    width: 100%;
    height: 13px;
    border-radius: 10px;
    background: #111010;
    position: relative;
}

.design_skill::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    border-radius: 10px;
    top: 0%;
    left: 0%;
    background: var(--Brand_color);
    animation: canva 1s linear forwards;
}

@keyframes canva {
    form {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

.design_skill::before {
    content: '80%';
    position: absolute;
    top: -27px;
    left: 0%;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    animation: canva_span 1s linear forwards;
}

@keyframes canva_span {
    form {
        left: 0%;
    }

    to {
        left: 74%;
    }
}

.figma .design_skill::after {
    animation: figma 1s linear forwards;
}

@keyframes figma {
    to {
        width: 90%;
    }
}

.figma .design_skill::before {
    content: '90%';
    animation: figma_text 1s linear forwards;
}

@keyframes figma_text {
    to {
        left: 84%;
    }
}

.adobe .design_skill::after {
    animation: adobe 1s linear forwards;
}

@keyframes adobe {
    to {
        width: 65%;
    }
}

.adobe .design_skill::before {
    content: '65%';
    animation: adobe_text 1s linear forwards;
}

@keyframes adobe_text {
    to {
        left: 59%;
    }
}

.Illustrator .design_skill::after {
    animation: Illustrator 1s linear forwards;
}

@keyframes Illustrator {
    to {
        width: 75%;
    }
}

.Illustrator .design_skill::before {
    content: '75%';
    animation: Illustrator_text 1s linear forwards;
}

@keyframes Illustrator_text {
    to {
        left: 69%;
    }
}

.design .design_skill::after {
    animation: design 1s linear forwards;
}

@keyframes design {
    to {
        width: 85%;
    }
}

.design .design_skill::before {
    content: '85%';
    animation: design_text 1s linear forwards;
}

@keyframes design_text {
    to {
        left: 79%;
    }
}

/* =============Development Skill part=================*/
.html .design_skill::after {
    animation: html 1s linear forwards;
}

@keyframes html {
    to {
        width: 100%;
    }
}

.html .design_skill::before {
    content: '100%';
    animation: html_text 1s linear forwards;
}

@keyframes html_text {
    to {
        left: 93%;
    }
}

.css .design_skill::after {
    animation: css 1s linear forwards;
}

@keyframes css {
    to {
        width: 95%;
    }
}

.css .design_skill::before {
    content: '95%';
    animation: css_text 1s linear forwards;
}

@keyframes css_text {
    to {
        left: 89%;
    }
}

.java .design_skill::after {
    animation: java 1s linear forwards;
}

@keyframes java {
    to {
        width: 85%;
    }
}

.java .design_skill::before {
    content: '85%';
    animation: java_text 1s linear forwards;
}

@keyframes java_text {
    to {
        left: 79%;
    }
}

.react .design_skill::after {
    animation: react 1s linear forwards;
}

@keyframes react {
    to {
        width: 80%;
    }
}

.react .design_skill::before {
    content: '80%';
    animation: react_text 1s linear forwards;
}

@keyframes react_text {
    to {
        left: 74%;
    }
}

.node .design_skill::after {
    animation: node 1s linear forwards;
}

@keyframes node {
    to {
        width: 70%;
    }
}

.node .design_skill::before {
    content: '70%';
    animation: node_text 1s linear forwards;
}

@keyframes node_text {
    to {
        left: 64%;
    }
}

/* ------------- Development Skill end-----------------*/
.language_heading_summery {
    max-width: 534px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    margin-top: 100px;
}

.language_button .language_btn {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid var(--Background_color);
    background: linear-gradient(#1E2024, #23272B);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 4px;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    transition: all linear .4s;
}

.language_button .language_btn:hover {
    border-color: var(--Brand_color);
    background: linear-gradient(to bottom, #212428, #16181c);
}

.language_btn .btn_text {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--Croissant_one);
    color: #fff;
    line-height: 60px;
    margin-left: 28px;
    transition: all linear .3s;
}

.language_button .language_btn:hover .btn_text {
    color: var(--Brand_color);
}

.button_part {
    position: absolute;
    width: 24%;
    height: 100%;
    overflow: hidden;
    top: 0%;
    right: 0%;
    background: transparent;
}

.button_part .btn_icon {
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 18px;
    color: #fff;
    transition: all linear .3s;
}

.button_part:hover .btn_icon {
    top: 62%;
    color: var(--Brand_color);
    opacity: 0;
    visibility: hidden;
}

.button_part .btn_icon_scound {
    position: absolute;
    top: -7%;
    left: 30%;
    font-size: 18px;
    color: var(--Brand_color);
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
}

.button_part:hover .btn_icon_scound {
    top: 25%;
    left: 30%;
    visibility: visible;
    opacity: 1;
}

/* =============language skill================ */
.bangla .design_skill::after {
    animation: bangla 1s linear forwards;
}

@keyframes bangla {
    to {
        width: 100%;
    }
}

.bangla .design_skill::before {
    content: '100%';
    animation: bangla_text 1s linear forwards;
}

@keyframes bangla_text {
    to {
        left: 94%;
    }
}

.english .design_skill::after {
    animation: english 1s linear forwards;
}

@keyframes english {
    to {
        width: 80%;
    }
}

.english .design_skill::before {
    content: '80%';
    animation: english_text 1s linear forwards;
}

@keyframes english_text {
    to {
        left: 74%;
    }
}

.hindi .design_skill::after {
    animation: hindi 1s linear forwards;
}

@keyframes hindi {
    to {
        width: 95%;
    }
}

.hindi .design_skill::before {
    content: '95%';
    animation: hindi_text 1s linear forwards;
}

@keyframes hindi_text {
    to {
        left: 89%;
    }
}

.urdu .design_skill::after {
    animation: urdu 1s linear forwards;
}

@keyframes urdu {
    to {
        width: 80%;
    }
}

.urdu .design_skill::before {
    content: '80%';
    animation: urdu_text 1s linear forwards;
}

@keyframes urdu_text {
    to {
        left: 74%;
    }
}

/* --------------language skill---------------- */
/* ===============what i do start================= */
.what_row {
    row-gap: 50px;
    column-gap: 30px;
}

.what_col {
    width: 100%;
    padding: 40px 70px 53px 40px;
    background: transparent;
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    transition: all linear .3s;
    position: relative;
    overflow: hidden;
}

.what_col:hover {
    background: linear-gradient(to bottom, #212428, #16181c);
}

.what_col::after {
    position: absolute;
    bottom: -9%;
    right: -3%;
    content: '\f799';
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.1);
    transition: all linear .5s;
}

.what_col:hover::after {
    font-size: 215px;
    right: 34%;
    bottom: -2px;
}

.what_col_two::after {
    content: '\f121';
}

.what_col_two:hover::after {
    font-size: 200px;
    right: 27%;
    bottom: 9px;
}

.what_col_three::after {
    content: '\e163';
}

.what_col_three:hover::after {
    font-size: 200px;
    right: 27%;
    bottom: 9px;
}

.what_col_four::after {
    content: '\f017';
}

.what_col_four:hover::after {
    font-size: 200px;
    right: 27%;
    bottom: 9px;
}

.what_icon i {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background: #fff;
    font-size: 38px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}

.what_col:hover .what_icon i {
    background: var(--Brand_color);
    color: #fff;
}

.what_heaidng_text {
    font-size: 22px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin: 25px 0 25px;
}

.what_heaidng_summery {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}

/* ------------------------resume part end--------------------- */

/* ================================hire me start============================== */
#hire_me {
    padding-top: 130px;
    padding-bottom: 70px;
    background: url(../image/client-\ say\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

#hire_me::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.70);
    z-index: -1;
}

.hire_title_head {
    font-size: 36px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.hire_button a {
    width: 180px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid var(--Brand_color);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--Brand_color);
    margin: 0% auto;
    position: relative;
    z-index: 2;
    transition: all linear .3s;
}

.hire_button a:hover {
    color: #fff;
}

.hire_button a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: var(--Brand_color);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}

.hire_button a:hover::before {
    width: 50%;
    visibility: visible;
    opacity: 1;
}

.hire_button a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    top: 0%;
    right: 0%;
    background: var(--Brand_color);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}

.hire_button a:hover::after {
    width: 50%;
    visibility: visible;
    opacity: 1;
}

/* -----------------------------hire me end---------------------------- */
/* ===========================portfolio part start======================== */
#portfolio_part{
    padding: 80px 0;
    background: var(--Background_color);
}
.portfolio_title_head{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: var(--Brand_color);
    text-align: center;
    margin-bottom: 80px;
}
.portfolio_row{
    row-gap: 65px;
    text-align: center;
}
.portfolio_img picture img{
    width: 370px !important;
    height: 430px !important;
}
/* -------------------------portfolio part end--------------------------- */
/* ========================faq part start==================== */
#faqPart {
    padding: 50px 0;
    background: var(--Background_color);
}

.faq_title_head {
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: var(--Brand_color);
    margin-bottom: 50px;
}

.accordion {
    max-width: 600px;
    --bs-accordion-bg: none;
}

.accordion-item {
    border: none;
}

.accordion-button {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    background: var(--Background_color);
    box-shadow: 0px 7px 13px 0px rgba(191, 185, 185, 0.51);
    border: 2px solid transparent !important;
    margin-top: 10px;
    border-radius: 10px 0 10px 0 !important;
    overflow: hidden;
    padding: 18px 42px;
}

.accordion-button:hover {
    border-color: var(--Brand_color) !important;
}

.accordion-button::after {
    position: absolute;
    content: "\f064";
    font-family: "FontAwesome";
    font-size: 20px;
    top: 31%;
    left: 2%;
    color: var(--Brand_color);
}

.accordion-button:not(.collapsed)::after {
    transform: none;
}

.accordion-button::before {
    position: absolute;
    top: 28%;
    right: 3%;
    content: '\f107';
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 22px;
    color: #ffffff;
}

.accordion-button:not(.collapsed)::before {
    top: 14px;
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background: transparent;
    box-shadow: none;
    border-radius: 10px 10px 0 0 !important;
    border-color: var(--Brand_color) !important;
}

.accordion-body {
    border: 2px solid var(--Brand_color);
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion_body_summery {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--poopins);
    color: var(--White);
}

.accordion-button:focus {
    border-color: none;
    box-shadow: 0px 7px 13px 0px rgba(191, 185, 185, 0.51);
}

/* ------------------------faq part end--------------------- */
/* ========================contact part start==================== */
#contactPart {
    padding: 50px 0;
    background: var(--Background_color);
}

.contact_title_head {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--Brand_color);
    text-align: center;
    margin-bottom: 15px;
}

.contact_title_summery {
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

.contact_title_summery span {
    color: var(--Brand_color);
}

.contact_left {
    max-width: 480px;
    padding: 30px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    border-radius: 17px;
}

.contact_img {
    border-radius: 8px;
    overflow: hidden;
}

.contact_img img {
    transition: all linear .3s;
}

.contact_img img:hover {
    transform: scale(1.1);
}

.contact_head h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-top: 35px;
}

.contact_head h4 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 10px;
}

.contact_head p {
    max-width: 375px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin: 30px 0 50px;
    line-height: 20px;
}

.contact_number h5 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 10px;
}

.contact_number h5 a {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    transition: all linear .3s;
}

.contact_number h5 a:hover {
    color: var(--Brand_color);
}

.contact_icon {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
}

.contact_icon a i {
    font-size: 24px;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}

.contact_icon a i:hover {
    color: var(--Brand_color);
    background: var(--liniar_gradiant);
    transform: scale(1.1);
}

#contactForm {
    height: 100%;
    padding: 30px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    border-radius: 17px;
}

.name_box_col {
    display: inherit;
}

.name_box_col_heading {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-bottom: 15px;
}

.contact_input {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    width: 100%;
    padding: 14px 14px 16px 14px;
    border: 2px solid transparent;
    background: #191B1E;
    box-shadow: -1px -3px 3px 0px rgba(255, 255, 255, 0.20) inset, 1px 4px 2px -1px rgba(0, 0, 0, 0.70) inset;
    border-radius: 6px;
    transition: all linear .3s;
}

.contact_input:hover {
    border-color: var(--Brand_color);
}

#messase_box {
    width: 100%;
    height: 180px;
    background: #191B1E;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    resize: none;
    transition: all linear .3s;
}

#messase_box:hover {
    border-color: var(--Brand_color);
}

.contact_button button {
    width: 100%;
    height: 55px;
    border-radius: 6px;
    background: linear-gradient(97deg, #1E2024 0%, #23272B 100%);
    box-shadow: -10px -10px 19px 0px #262A2E, 10px 10px 19px 0px #1C1E22;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: none;
    transition: all linear .3s;
}

.contact_button button span {
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

.contact_button button:hover {
    background: var(--liniar_gradiant);
    color: var(--Brand_color);
    transform: translateY(-5px);
}

.contact_button button:hover span {
    color: var(--Brand_color);
}

/* ------------------------contact part end--------------------- */
/* ========================footer part start==================== */
#footer {
    padding: 50px 0 60px;
    background: var(--Background_color);
    border-bottom: 2px solid #16181c;
}

.footer_heading h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: var(--Brand_color);
    text-align: center;
}

.footer_heading p {
    max-width: 580px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    text-align: center;
    margin: 0% auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer_icon_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_icon_list a {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}

.footer_icon_list a:hover {
    color: var(--Brand_color);
    transform: translateY(-3px);
    background: linear-gradient(to right bottom, #212428, #16181c);
}

/* ------------------------footer part end--------------------- */
/* ========================copyright part start==================== */
.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background: var(--Background_color);
}

.copyright h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    text-align: center;
}

.copyright h2 span {
    font-size: 16px;
    color: red;
}

/* ------------------------copyright part end--------------------- */